<div class="ui stackable secondary mobile hidden menu">
  <%= link_to root_path, class: 'item logo' do %>
    <%= image_tag 'logo', class: 'ui rounded small image' %>
  <% end %>
  <div class="right menu">
    <%= link_to 'O IBEDEC', about_path, class: 'item' %>
    <%= link_to 'Notícias', news_path, class: 'item' %>
    <%= link_to 'Vídeos', videos_path, class: 'item' %>
    <%= link_to 'Áreas de atuação', expertise_path, class: 'item' %>
    <%= link_to 'Sentenças e decisões', judgements_path, class: 'item' %>
    <%= link_to 'Cartilhas e manuais', booklets_path, class: 'item' %>
    <%= link_to 'Contato', contact_path, class: 'item' %>
    <% if user_signed_in? %>
      <div class="ui user-avatar dropdown item">
        <%= image_tag current_user.avatar.url(:medium), class: 'ui circular user-avatar image' %>
        <div class="menu">
          <%= link_to 'Painel de administrador', admin_root_path, class: 'item' %>
          <%= link_to 'Alterar dados', edit_user_registration_path, class: 'item' %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'item' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="mobile only menu">
  <%= link_to root_path, class: 'item logo' do %>
      <%= image_tag 'logo', class: 'ui rounded small image' %>
  <% end %>
  <a href="#" class="menu item toggle">
    <i class="black large content icon"></i>
  </a>
  <div class="ui vertical inverted fluid menu">
    <%= link_to 'Início', home_path, class: 'item' %>
    <%= link_to 'O IBEDEC', about_path, class: 'item' %>
    <%= link_to 'Notícias', news_path, class: 'item' %>
    <%= link_to 'Vídeos', videos_path, class: 'item' %>
    <%= link_to 'Áreas de atuação', expertise_path, class: 'item' %>
    <%= link_to 'Sentenças e decisões', judgements_path, class: 'item' %>
    <%= link_to 'Cartilhas e manuais', booklets_path, class: 'item' %>
  </div>
</div>