<%= form_for [:admin, @post], html: { class: 'ui form' } do |f| %>
  <%= render 'shared/error_messages', object: @post %>

  <div class="ui grid">
    <div class="row">
      <div class="column">
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, required: true %>
        </div>
        <div class="field">
          <%= f.label :body %>
          <%= f.cktext_area :body, required: true %>
        </div>
        <div class="field">
          <%= f.label :image %>
          <%= f.file_field :image %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <%= f.submit 'Enviar', class: 'ui submit fluid blue inverted button' %>
      </div>
    </div>
  </div>
<% end %>